
h1 {
  color: rgb(135, 52, 255);
  background-color: rgb(12, 0, 51);
  text-align: center;
  font-family: 'Futurist Fixed-width';
  border: 2px dotted rgb(111, 11, 172);
  border-radius: 10px;
}

h2 {
  float: left;
  text-align: center;
  color: white;
  background-color:rgb(246, 57, 113);
  display: inline;
  width:200px;
  font-size: 30px;
  font-family: 'Ailerons';
}

body {
    background-image: url('galaxy.jpg');
    min-height: 150%;
    background-position: center;
}

a:link {
  color:white;
  text-decoration:none
}
a:visited {
  color:white;
  text-decoration:none
}
a:active {
  color:rgb(194, 11, 49);
  text-decoration: underline;
}
a:hover {
  color:rgb(194, 11, 49);
  text-decoration:underline
}

span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    width: 400px;
    display:none;
    padding:0 20px;
    overflow: auto;
}

.helping {
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 5px;
    cursor:pointer;
    display: inline;
}

.links {
  text-align: right;

}
.center {
    text-align: center;
}
p:hover span{
    display:block;
}

.description {
  width: 75%;
  font-size: 16px;
  background-color: rgba(41, 0, 37,  0.80);
  border: 7px solid rgba(0, 0, 0, 0.1);
  color: rgb(202, 247, 250);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

pre {
  font-family: 'Arial';
}

* {
box-sizing: border-box;
}

*:focus {
	outline: none;
}

.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: rgba(233, 253, 255, 0.36);
padding: 10px;
border-radius: 5px
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 14px;
padding: 10px 0;
transition: border .25s;
}

input:focus {
border: 2px dotted #ae18ff;
box-shadow: none;
}

.btn {
  border: 2px dotted transparent;
  background: rgb(102, 29, 255);
  color: #ffffff;
  font-size: 14px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background-color:rgb(58, 17, 144);
}
