{% extends "layout.html" %}
{% block content %}
{% if scene %}
  <p class='links'><a href="/">Change game? </a>
  <a href="/reset">Start over again? </a>
  <a href="/logout">Logout</a></p>
  <h1> {{ scene.header }} </h1>
  <h2> {{ scene.title }} </h2>
  <p class="center">{{ missing }}</p>
  <div class="description">
    <pre>{{ scene.description }}</pre>
    <p>
        <form action="/game" method="POST">
        What do you do? <input type="text" name="userinput"> <input type="SUBMIT" value="ENTER">
      </form>
      <p class='helping'>?<span>{{ scene.help }}</span></p>
    </p>
  </div>
{% else %}
  <p class="center"><a href="/">Start at the Beginning</a></p>
{% endif %}
{% endblock %}
